/*global*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --full-white: white;
    --bg-white: #F5F5F5;
    --bg-header: #F85606;
    --bg-search-icon: #FFE1D2;
    --link-color: #757575;
    --full-black: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
    color: var(--full-white);
}

section {
    margin: 1rem auto;
    width: 1188px;
    max-width: 1188px;
}

body {
    margin: auto;
    padding: auto;
    height: 200vh;
    font-family: 'Roboto', 'Helvetica';
    background-color: var(--bg-white);
    /* background-color: black; */
}

/* top nav bar */
header {
    background-color: var(--bg-header);
}

.navbar {
    background-color: var(--bg-header);
    height: 91px;
    width: 1188px;
    max-width: 1188px;
    margin: auto;
}

.top-nav {
    display: flex;
    justify-content: space-between;
}

.leftTop {
    display: flex;
    font-size: 12px;
    line-height: 25px;
}

.left-links {
    margin-right: 22px;
}

.rightTop {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 999;
}

.save-more {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    padding: 6px;
}

.daraz-icon {
    background-image: url(/images/save-more.png);
    height: 20px;
    width: 20px;
    background-size: cover;
    margin-right: 5px;
}

/* bottom nav bar */
.bottom-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: sticky;
    top: 0; */
}

.logo {
    margin-right: 15px;
}

.search-box-container {
    position: relative;
}

.search-box-container .search-input {
    width: 700px;
    border: 0;
    border-radius: 12px;
    padding: 12px;
}

.search-box-container .search-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    background-color: var(--bg-search-icon);
    border-radius: 6px;
    padding: 6px 16px;
    color: var(--bg-header);
    margin-right: -1rem;
}

/* menu */
.menu {
    display: flex;
    justify-content: space-around;
    font-size: 0.85rem;
    width: 100%;
}

.main-links {
    color: var(--full-white);
    font-weight: bold;
    padding: 10px 12px;
}

.main-links:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.main-links i {
    font-size: 1rem;
    margin-right: 5px;
}

/* main-content */
.main-content {
    display: flex;
    gap: 1rem;
}

.left-link-container,
.right-img-container {
    background-color: var(--full-white);
    border-radius: 12px;
}

.left-link-container {
    width: 20%;
    height: 344px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}

.left-link-container ul {
    width: 100%;
}

.left-link-container ul li a {
    color: var(--link-color);
    font-size: 13px;
    line-height: 27px;
    display: flex;
    align-items: center;
    position: relative;
}

.iborder:hover {
    background-color: rgba(117, 117, 117, 0.1);
    color: var(--bg-header);
}

.iborder:hover .border {
    background-color: transparent;
}

.border {
    background-color: rgba(117, 117, 117, 0.1);
    border-radius: 50%;
    width: 0.85rem;
    height: 0.85rem;
    margin: 0 12px;
    position: relative;
}

.icon-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9rem;
}

/*slideshow*/
.right-img-container {
    width: 80%;
    height: 344px;
}

.slideshow {
    position: relative;
    height: inherit;
}

.image-container {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.prev,
.next {
    color: var(--full-white);
    position: absolute;
    top: 45%;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.3);
    padding: 12px 6px;
}

.prev:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.next {
    right: 0;
}

/* category-content */
.category-section {
    height: 136px;
}

.category-content {
    background-color: var(--full-white);
    height: inherit;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content-items:hover p {
    color: var(--bg-header);
}

.content-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-items p {
    padding-top: 10px;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;

}

.content-items img {
    cursor: pointer;
    width: 80px;
    height: 80px;
}

/* flash-sale */
.flash-sale {
    margin-top: 2rem;
    border-bottom: 1px solid var(--link-color);
}

.flash-sale h3 {
    font-size: 1.3rem;
    font-weight: lighter;
}

.on-sale {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: var(--full-white);
    padding: 1rem;
}

.sale-left {
    display: flex;
    gap: 5rem;
    align-items: center;
}

#sale-now {
    color: var(--bg-header);
}

.timer {
    background-color: var(--bg-header);
    color: var(--full-white);
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    border-radius: 2px;
}

.colon {
    color: var(--bg-header);
}

#shop-more {
    background-color: transparent;
    border: 1px solid var(--bg-header);
    padding: 0.6rem 0.8rem;
    text-transform: uppercase;
    color: var(--bg-header);
    cursor: pointer;
    border-radius: 2px;
}

/* product section */
.product-section {
    height: 316px;
    background-color: var(--full-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-container {
    height: 290px;
    color: var(--full-black);
}

.card-container:hover {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
}

.card-img img {
    width: 188px;
    height: 188px;
}

.card-info {
    width: 188px;
    padding: 6px;
}

.card-info .title {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
}

.card-info .price {
    font-size: 22px;
    color: var(--bg-header);
}

.card-info .discount {
    display: flex;
    font-size: 12px;
    gap: 0.6rem;
}

.card-info .discount p {
    text-decoration: line-through;
    color: var(--link-color);
}